PyYAML==3.10
UnittestZero==0.1.8
argparse==1.2.1
beautifulsoup4==4.3.2
-e git+https://github.com/mozilla/bidpom.git@71e70bbe63b94e8600a4aa57d81d52a3dcfc0278#egg=browserid-master
py==1.4.18
pytest==2.4.2
pytest-mozwebqa==1.1.1
requests==2.0.1
selenium==2.41.0
wsgiref==0.1.2
